# https://help.github.com/articles/ignoring-files/

# --- jest ---

# dependencies
/javascript/jest/240112_jest_test/node_modules
/javascript/jest/240124_js_teht/node_modules

# --- YTL Data ---
/NoSQL/240131/data

# --- nodejs npm ---
**/node_modules

# dotenv
.env

secret.js